.social .contact-icons {
  font-size: 1.5rem; /* The default is likely 2rem or larger. Adjust this value down as needed. */
}

div.highlight,
figure.highlight {
  max-height: 400px;  /* You can change this height */
  overflow-y: auto;
  border-radius: 4px; /* Optional: cleans up the edges */
}
